<div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
  <div class="col-xs-12">
    <uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
  </div>
</div>
<div data-ng-controller="SettingsCtrl">
    <form class="form-horizontal settings-form" id="settings-form" ng-submit="update(0)">
        <h2>VSphere Settings</h2>

        <br />

        <div class="input-wrapper">
            <label for="host">Host&nbsp;</label>
            <input required class="form-control" id="host" type="text" name="host" placeholder="Host"
                   ng-model="settings.host">
        </div>

        <div class="input-wrapper">
            <label for="user">User&nbsp;</label>
            <input required class="form-control" id="user" type="text" name="user" placeholder="Username"
                   ng-model="settings.user">

            <span class="pic username"></span>
        </div>

        <div class="input-wrapper">
            <label for="password">Password&nbsp;</label>
            <input required class="form-control" id="password" name="password" type="{{input.type}}"
                   placeholder="{{input.placeholder}}" ng-model="settings.pass">

            <span class="pic password {{input.iconClass}}" ng-click="togglePasswordVisible()">
              <div class="hide_text_password">
                  {{input.tooltipText}}
              </div>
            </span>
        </div>

        <div class="input-wrapper">
          <div class="button_save">
            <button type="submit" class="submit_button">Save</button>
          </div>
        </div>
    </form>
</div>
